@font-face {
    font-family: myFirstFont;
    src: url(D:\Projects\FreeCodeCamp\calculator_redux\src\fonts\Orbitron-Regular.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: myFirstFont, sans-serif;
}

.container {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: auto;
    background-color: rgb(231, 227, 227);
    gap: 2px;
    padding:5px;
}

.btn {
    height: 80px;
    font-size: x-large;
    font-family: myFirstFont, sans-serif;
}

.spantwo {
    background-color: rgb(0,255,0);
    grid-column-start: span 2;
}

.spantwo:hover {
    background-color: rgb(0,155,0);
}

.red {
    background-color: rgb(255,0,0);
    color: white;
}

.red:hover {
    background-color: rgb(155,0,0);
}

.display {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(3, 3, 49);
    height: 140px;
}

.calculation {
    color: white;
    position: absolute;
    max-width: 300px;
    left: 10px;
    top: -25px;
    font-size: xx-large;
    word-wrap: break-word;
    white-space:normal;
    overflow-wrap: break-word;
}

.result {
    color: white;
    right: 10px;
    top: 70px;
    position: absolute;
    font-size: x-large;
}

.operand {
    height: 80px;
    font-size: x-large;
}

.footer {
    display: block;
    text-align: center;
    max-width: inherit;
    padding: 10px 0 10px 0;
    background-color: rgb(231, 227, 227);
    color:black;
}